<IfModule mod_headers.c>
    <FilesMatch "\.(css|js|jpe?g|png|gif|pdf|swf|ico)$">
        Header set Cache-Control "public, max-age=31536000"
    </FilesMatch>
    <FilesMatch "\.(html|xml|txt|xsl|webmanifest)$">
        Header set Cache-Control "private, no-cache, no-store, must-revalidate"
    </FilesMatch>
    <FilesMatch "\.(php|cgi|pl|asp)$">
        Header set Cache-Control "private, no-cache, no-store, must-revalidate"
    </FilesMatch>
</IfModule>

RewriteEngine on

# 1. Forzar HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 2. Traduce: resource/movies/poster.jpg  -->  resource.php?scope=movies&file=poster.jpg
RewriteRule ^resource/([^/]+)/(.*)$ resource.php?scope=$1&file=$2 [L,QSA]

# 3. Eliminar barra final (Canonicalización SEO)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} /(.*)/$
RewriteRule ^ /%1 [R=301,L]

# 4. Respetar archivos y directorios reales
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [L]

# 5. Front Controller (Todo a index.php)
RewriteRule ^(.*)$ index.php [QSA,L]

AddHandler application/x-httpd-php83 .php .php5 .php4 .php3
